<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matchomat</title>
</head>
<body>
    <header>
        <h1>Matchomat</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Domů</a></li>
            <li><a href="/matching">Zapal</a></li>
            <li><a href="/matches">Hoříte</a></li>
            <li><a href="/profile">Profil</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>Matchomat, Beránek Pavel 2023</p>
    </footer>
</body>
</html>