<header>
    <h1>Sheepnado decimates planet population</h1>
    <p class="publish_date">Publish date: 2.10.2023</p>
</header>
<p>
    In an unprecedented and nightmarish event, the world was plunged into chaos as a terrifying phenomenon known as the "Sheepnado" wreaked havoc across continents, 
    decimating nearly half of the planet's population. This surreal and horrifying tornado comprised of ravenous sheep, once docile grazers, turned into carnivorous 
    predators, leaving a trail of destruction in its wake. Cities were left in ruins, and communities were torn apart as the Sheepnado swept through, sparing nothing 
    in its path. The surviving humanity now faces a daunting challenge, uniting in the wake of this catastrophe, hoping to rebuild what was lost and prevent such a 
    calamity from ever happening again. 
</p>
<footer>
    <p class="article_author">Author: Elfo Elfowitz</p>
</footer>