<header>
    <h1>Gigasheep spotted</h1>
    <p class="publish_date">Publish date: 2.10.2023</p>
</header>
<p>
    In a breathtaking spectacle that left witnesses awe-struck, a colossal sheep, aptly dubbed the "Gigantic Sheep," was spotted by astonished onlookers. 
    Towering over the landscape like a mythical creature, this enormous woolly giant captured the imagination of all who beheld it. Eyewitnesses marveled 
    at its sheer size, the enormity of which seemed almost surreal against the backdrop of the countryside. News of the Gigantic Sheep spread like wildfire, 
    sparking wonder and curiosity, and prompting both locals and travelers to venture out in hopes of catching a glimpse of this extraordinary marvel, forever 
    etching the image of the majestic creature into the annals of folklore.
</p>
<footer>
    <p class="article_author">Author: Tiabeanie Mariabeanie de la Rochambeaux Grunkwitz</p>
</footer>