<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Myweb-{% block subtitle %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <header class="container-fluid p-5 bg-primary bg-gradient text-white text-center">
        <h1>Name of my website</h1>
        <p>Welcome to best website with datasets about sheeps for your machine learning projects</p>
    </header>
    <nav>
        <ul>
            <li>
                <a href="{{ url_for('index') }}">About</a>
            </li>
            <li>
                <a href="{{ url_for('datasets') }}">Datasets</a>
            </li>
            <li>
                <a href="{{ url_for('contact') }}">Contact</a>
            </li>
        </ul>
    </nav>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer>
        <p>&copy;Beránek Pavel, UJEP, 2023</p>
    </footer>
</body>
</html>