<header>
    <h1>Sheepman rises</h1>
    <p class="publish_date">Publish date: 3.10.2023</p>
</header>
<p>
    In the peaceful town of Meadowville, an ordinary sheep named Shep emerged as an unlikely hero, earning the moniker Sheepman. 
    When a malevolent sorcerer threatened the town with eternal darkness, Sheepman, armed with nothing but courage and kindness, 
    ventured into the heart of the shadows. His determination and unwavering spirit allowed him to face the sorcerer and restore 
    sunlight to Meadowville. Sheepman's tale resonated far and wide, becoming a timeless legend of bravery and compassion. 
    His story inspired generations, teaching the world that heroism could arise from the most unexpected places, emphasizing 
    the extraordinary impact of one brave soul who dared to stand against the darkness and bring light to the world.
</p>
<footer>
    <p class="article_author">Author: Lucille Lucifer Jr. DCLXVI, Son of Satan[</p>
</footer>